@font-face {
    font-family: Echotopia;
    src: url('Echotopia-Regular.otf');
}

*{
    font-family: Echotopia, Arial, Helvetica, sans-serif;
}

html{
    --main-color: #707070;
    --main-bgcolor: #E0E0E0;
    --second-bgcolor: #FFFFFF;
    --second-color: #0047FF;
}

html{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--second-bgcolor);
    font-size: small;
    row-gap: normal;
    column-gap: normal;
    justify-content: space-evenly;
}




#suggestion{
    padding: 0.5em;
    background-color: var(--second-color);
    border-radius: 16px;
}

img{
    width: 50%;
    height: 50%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--second-color);
    border-radius: 16px;
    align-content:stretch;
}

nav .User_session{
    justify-content: flex-end;
}

#search_bar{
    display: flex;
    align-content: stretch;
    background-color: var(--main-bgcolor);
    padding: 0.5em;
    border-radius: 12px;
}

nav a{
    text-decoration: None;
    color: var(--second-bgcolor);

}

.item{
    display: flex;
    flex-direction: column;
    max-width: 20em;
    background-color: var(--main-bgcolor);
    text-align: center;
    flex-wrap: nowrap;
    border: 2px solid lightgray;
    padding: 1em;
    box-shadow: 3px 5px 5px var(--main-color);
}
.all_items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1em;
}

.item img{
    height: 100%;
}

td>img{
    width: 12px;
    height: 12px;
}

.icon
{
    width: 10%;
    height: 60%;
    float: middle;
}

#main_page {
    background-image: url("images/Home_Shoes.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40em;
    padding-bottom: 40em;
    background-color: #F7F7F7;
    text-align: center;
}

#main_page p{
    font-size: x-large;
    background-color: var(--main-bgcolor);
    color: var(--main-color);
    width: fit-content;
    padding: 0.5em;
    border-radius: 16px;
}


.user_account{
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-radius: 16px;
    background-color: #F7F7F7;
}

.sale{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    padding-top: 0, 0.5em;
    background-color:var(--second-color);
    color: var(--main-bgcolor);
}

#suggestion{
    text-decoration: None;
    margin-top: 2em;
    color: var(--second-bgcolor);
    row-gap: 2em;
}
#checkout{
    width: 4.5%;
    height: 4.5%;

}




table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 5em;
}

th, td {
    padding: 1em; 
    border-bottom: 1px solid var(--main-bgcolor); 
    text-align: center;
}
th{
    background-color: var(--main-color);
    position: sticky;
    top: 0;
}


.delete{
    width: 7%;
    height: 7%;
}

#admin_account{
    display: flex;
    flex-direction: column;

}

#Home{
    margin:auto;
    font-size: large;
}

footer{
    display: flex;
    flex-direction: row;
    margin-top: 100%;
    align-items: center;
    width:100%;
    padding: 0.5em;
    background-color: var(--second-color);
    color: var(--second-bgcolor);
    text-align: center;
}

.search-form{
    border-radius: 16px;
    width:90em;
}

.store-image{
    width:100%;
    max-height: 20em;
}

.User_login{
    background-color: var(--main-bgcolor);
    color: var(--main-color);
    margin: 15%;
    padding-top: 10em;
    padding-bottom: 10em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 2em;
    text-align: center;
    border-radius: 16px;
}

.User_login > a{
    text-decoration: None;
    color: var(--second-color);
    font-size: 0.5em;

}

h1{
    text-align: center;
}
.error{
    color: red;
    font-size: 0.5em;
}

.error_page{
    background-image: url("images/error.jpg");
    background-size: cover;
    background-position: center;
    height: 100%
}
.error_page > p{
    text-align: center;
    padding-top: 20em;
    padding-bottom: 20em;
    color: var(--main-bgcolor);
    padding: 10em;

    font-size: x-large;
}