{% extends "base.html" %}

{% block main_content %}
    <div class="User_login">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.user_id.label }}
            {{ form.user_id() }}
            {% for error in form.user_id.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <br />

            {{ form.password.label }}
            {{ form.password() }}
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <br />

            {{ form.submit() }}
        </form>
        <a href="{{ url_for('register') }}">Don't Have an account?</a>
    </div>
{% endblock %}